.spam-filter {
  color: #303030;
}

h1 {
  font-size: 8rem;
}

p {
  font-family: "neue haas grotesk";
}

.main-section {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 16rem;
  align-items: center;
}

.contact-div {
  display: flex;
  align-items: baseline;
}

.return-section {
  text-align: center;
  padding-bottom: 20rem;
}