@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
  font-family: 'AkzidenzGrotesk';
  src: url('../fonts/Akzidenz-grotesk-roman.ttf');
}

@font-face {
  font-family: 'AkzidenzGrotesk';
  font-weight: 600;
  src: url('../fonts/Akzidenz-grotesk-bold.ttf');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('../fonts/NHaasGroteskTXPro-55Rg.ttf');
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-weight: 600;
  src: url('../fonts/NHaasGroteskTXPro-65Md.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica.ttf');
}

@font-face {
  font-family: 'Helvetica';
  font-weight: 600;
  src: url('../fonts/helvetica-bold.ttf');
}

body {
  /* line-height: 1.5; */
  font-size: 1.25rem;
  color: #e7e7e7;
  background-color: #202020;
  /* font-family: 'inter', 'ibm plex sans', 'sans-serif'; */
  font-family: 'Helvetica', 'sans-serif';
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: 2560px;
}

h1, h2, h3 {
  /* line-height: 1.2; */
  font-family: 'AkzidenzGrotesk', sans-serif;
  font-weight: 800;
  margin: 0;
}

a {
  color: white;
}

#en-jp-switch {
  font-size: 0.8rem;
  text-align: center;
  display: flex;

  .en-jp-text {
    position: relative;
    text-align: center;
    padding-bottom: 0.3rem;
  }

  label {
    position: fixed;
    z-index: 10;
    background-color: #202020;
    padding: 0.6rem;
    padding-bottom: 0.8rem;
    border-bottom-right-radius: 2px;
    opacity: 10%;
    transition: opacity 200ms;
  }

  label:hover {
    opacity: 100%;
  }

  /* yo shoutouts to https://uiverse.io/gharsh11032000/sour-vampirebat-66 for this switch  */
  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* The switch - the box around the slider */
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: rgb(64, 72, 232);
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: #ddd;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .switch input:checked+.slider {
    background: #df292f;
  }

  .switch input:focus+.slider {
    box-shadow: 0 0 2px #df292f;
  }

  .switch input:checked+.slider:before {
    transform: translateX(1.5em);
    /* bottom: 0; */
  }
}

.big-video {
  height: 48rem;
}

#hero-section {
  background-color: white;
  position: relative;
  font-size: 4rem;
  font-weight: 800;
  /* background: url("./test-hero.jpg"); */
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 0 100%);
}

#hero-section.big-video {
  height: 76rem;
}

#hero-section {
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}

.invert {
  mix-blend-mode: difference;
}

.sick-text-copies {
  /* color: white; */
  color: transparent;
  position: absolute;
}

.sick-text-1-group {
  font-size: 32rem;
  text-align: justify;
  padding: 0 1rem;
  font-family: 'Helvetica';
}

#sick-text-1-copy {
  top: 0;
  left: 0;
  z-index: 2;
  transition: color 400ms;
}

#sick-text-1-copy:hover {
  color: white;
}

.sick-text-1-mobile-group {
  display: none;
  font-family: 'Helvetica';
}

.sick-text-2-group {
  /* dis japanese */
  font-size: 20rem;
  text-align: justify;
  padding: 0 1rem;
  font-family: 'Helvetica';

  position: absolute;
  top: 32rem;
  right: 0;
  left: unset;
}

#sick-text-2-copy {
  position: absolute;
  z-index: 2;
  transition: color 300ms;
}

#sick-text-2-copy:hover {
  color: white;
}

.sick-text-3-group {
  position: absolute;
  bottom: 3rem;
  font-size: 12rem;
  text-align: justify;
  padding: 0 1rem;
  font-family: 'Helvetica';
}

#sick-text-3-copy {
  z-index: 2;
  transition: color 300ms;
}

#sick-text-3-copy:hover {
  color: white;
}

#dictionary-section {
  padding: 6rem 4rem;

  #words {
    display: flex;
    align-items: baseline;

    h1 {
      padding-right: 2rem;
      font-size: 2.7rem;
    }

    h2 {
      padding-right: 3rem;
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  .drop-shadow {
    filter: drop-shadow(2px 2px #af087b)
  }

  #pronunciation {
    span {
      padding-right: 2rem;
    }
  }
}

.tiny-text {
  padding-top: 3rem;
  font-size: 0.8rem;
}

.lower-opacity-text {
  opacity: 8%;
}

#blah-paragraph-cta-section {
  clip-path: polygon(0 0, 100% 20px, 100% 100%, 0 100%);
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: end;

  a {
    text-decoration: underline;
    transition: opacity 100ms;
  }

  a:hover {
    opacity: 80%;
  }

  .clip-text {
    color: transparent;
    background-clip: text;
    filter: drop-shadow(0px 1px 0.5px black);
  }

  .surge-3d-live-musical {
    background-image: linear-gradient(to right, #fc80bc, #7aecfc);

  }

  .okr-cc {
    background-image: linear-gradient(to right, #e18fe3, #9e1f53);
  }

  #cta {
    width: 40rem;
    max-width: 100%;
    padding-right: 16rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    p {
      text-align: right;
      margin: 1rem 0;
    }
  }

  .cta-text {
    text-align: right;
    padding-bottom: 2rem;
  }
}

.no-glow {
  filter: drop-shadow(0 0 rgba(0, 0, 0, 0));
  transition: all 10000ms ease-in-out;
}

#nimo-harrison-text-mentioned {
  filter: drop-shadow(0px 0px 2px rgba(250, 0, 0, 0.7));
}

.nimo-harrison-glow {
  filter: drop-shadow(0px 0px 10px rgba(250, 0, 0, 1));
  transition: all 400ms;
}

.cta-text {}

.cta-button {
  padding: 0.6rem 0.9rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #005682;
  font-size: 1.2rem;
  font-family: 'AkzidenzGrotesk', 'Helvetica', 'sans-serif';
  color: #ddd;
  transition: transform 300ms;
  max-width: 15rem;
}

.cta-button:hover {
  transform: scale(1.1);
}

#members-section {
  padding: 6rem 4rem;

  h1 {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 2rem;
  }

  #band-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3rem;

    .image-and-overlaid-text {
      position: relative;

      .text {
        position: absolute;
        bottom: 5%;
        left: 5%;
        transition: opacity 300ms;
        filter: drop-shadow(1px 1px 2px #000) drop-shadow(0px 0px 3px #000);
      }

      .text.hidden {
        opacity: 0%;
      }

      .text.visible {
        opacity: 100%;

      }
    }
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
  }

  .social-links {
    display: flex;
    gap: 0.75rem;
    padding-top: 0.5rem;
  }

  .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4%;
    color: #555;
    background: #f5f5f5;
    text-decoration: none;
    transition: all 0.25s ease;
  }

  .social-links a:hover {
    filter: invert(1);
  }

  .social-links svg {
    width: 18px;
    height: 18px;
  }
}

#testimonial-section {
  background-color: #af087b;
  /* height: 44rem; */
  height: 24rem;
  padding: 6rem 4rem;
  h1 {
    font-size: 1.4rem;
  }
}

#final-cta-section {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: start;

  #cta {
    width: 24rem;
    padding-left: 16rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .cta-text {
    padding-bottom: 1rem;
  }
}

.big-image {
  height: 44rem;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 1.1rem;
  a {
    color: unset;
  }
}

#raidsrc-link {
  color: lab(55.4814% 75.0732 48.8528);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right,
      lab(55.4814% 75.0732 48.8528),
      lab(52.0183% 66.11 -78.2316) 100%);
  text-decoration: none;
  transition: opacity 400ms;
  font-family: 'Neue Haas Grotesk', sans-serif;
}

#raidsrc-link:hover {
  opacity: 80%;
}

/* Text Gradient CSS */
.text-gradient {
  color: #d68e8b;
  background-image: linear-gradient(45deg,
      #d68e8b,
      #9c6967 25%,
      #664644 50%,
      #342525 75%,
      #000000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mono {
  font-family: 'JetBrains Mono', 'Source Code Pro', 'Courier New', Courier, monospace;
}

.sans {
  font-family: 'AkzidenzGrotesk', 'Helvetica', 'sans-serif';
}

.serif {
  font-family: 'CMU Serif', 'serif';
}

/* START MEDIA QUERIES +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* if smaller than/equal to X width -------------------------------------------------------------------------------- */
@media (max-width: 2560px) {
  #hero-section.big-video {
    height: 72rem;
  }

  .sick-text-1-group {
    font-size: 20vw;
    text-align: justify;
    padding: 0 1rem;
  }

  .sick-text-2-group {
    /* dis japanese */
    position: absolute;
    top: 30rem;
    right: 0;
    font-size: 12vw;
    text-align: justify;
    padding: 0 1rem;
  }

  .sick-text-3-group {
    position: absolute;
    bottom: 2rem;
    font-size: 7.5vw;
    text-align: justify;
    padding: 0 1rem;
  }

  .big-video {
    height: 44rem;
  }

  #members-section {
    #band-grid {
      grid-template-columns: repeat(6, 1fr);
      gap: 2rem;
    }
  }
}


/* ------------------------------------------------------------------------------------------------------- */
@media (max-width: 1920px) {
  #hero-section.big-video {
    height: 50rem;
  }

  .big-video {
    height: 44rem;
  }

  .sick-text-2-group {
    /* dis japanese */
    top: 20rem;
  }


}

/* ------------------------------------------------------------------------------------------------------- */
@media (max-width: 1600px) {
  #hero-section.big-video {
    height: 48rem;
  }

  .big-video {
    height: 44rem;
  }

  .sick-text-2-group {
    /* dis japanese */
    top: 20rem;
  }

  #members-section {
    #band-grid {
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
    }
  }

}

/* ------------------------------------------------------------------------------------------------------- */
@media (max-width: 1280px) {
  #hero-section.big-video {
    height: 38rem;
  }

  .sick-text-2-group {
    position: absolute;
    top: 16rem;
  }

  .sick-text-3-group {
    padding: 0 1rem;
    font-size: 7.7vw;
  }

  #blah-paragraph-cta-section {
    #cta {
      width: 50%;
    }
  }

  #members-section {
    #band-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .big-image {
    height: 32rem;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
@media (max-width: 1080px) {
  #hero-section.big-video {
    height: 34rem;
  }

  .sick-text-2-group {
    position: absolute;
    top: 15rem;
    font-size: 12vw;
  }

  .sick-text-3-group {
    font-size: 7.5vw;
  }

  #members-section {
    #band-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  #blah-paragraph-cta-section {
    #cta {
      padding-right: 8rem;
      width: 60%;
    }

    .cta-text {}
  }
}

/* ------------------------------------------------------------------------------------------------------- */
@media (max-width: 800px) {
  #hero-section.big-video {
    height: 50vw;
    min-height: 44rem;
  }

  .sick-text-1-group {
    display: none;
  }

  .sick-text-1-mobile-group {
    display: inline-block;
    position: absolute;
    font-size: 36vw;
    text-align: right;
    top: 0;
    right: 0;
  }

  #sick-text-1-mobile-copy {
    color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    transition: color 400ms;
  }

  #sick-text-1-mobile-copy:hover {
    color: white;
  }

  .sick-text-2-group {
    position: absolute;
    top: 40vw;
    left: 3rem;
  }

  .sick-text-3-group {
    padding: 0 1rem;
    font-size: 7.6vw;
    bottom: 3rem;
  }

  #dictionary-section {
    padding: 4rem 3rem;

    #words {
      display: block;

      h1 {
        padding-right: 2rem;
      }

      h2 {
        padding-right: 3rem;
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.5rem;
      }
    }

    #pronunciation {
      padding-bottom: 1.5rem;
    }
  }

  #blah-paragraph-cta-section {
    height: auto;
    padding: 4rem 0;
    padding-top: 5rem;

    #cta {
      padding-right: 5rem;
      width: 70%;
    }

    .cta-text {}
  }

  #members-section {
    #band-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  #final-cta-section {
    #cta {
      padding-left: 8rem;
      width: 50%;
    }

    .cta-text {}
  }
}


/* ------------------------------------------------------------------------------------------------------- */
@media (max-width: 660px) {
  #hero-section.big-video {
    height: 50vh;
    min-height: 40rem;
  }

  .sick-text-1-mobile {
    font-size: 31vw;
  }

  /* .sick-text-2-group {
    position: absolute;
    top: 34vw;
  } */

  .sick-text-3-group {
    padding: 0 1rem;
    font-size: 7vw;
  }

  .big-image {
    height: 28rem;
  }
}

/* ------------------------------------------------------------------------------------------------------- */
@media (max-width: 512px) {
  #hero-section.big-video {
    min-height: 20rem;
    height: 60vh;
    max-height: 32rem;
  }

  .sick-text-1-group {
    display: none;
  }

  .sick-text-1-mobile {
    font-size: 40vw;
  }

  .sick-text-2-group {
    top: 38vw;
    left: 0;
  }

  .sick-text-3-group {
    bottom: 3rem;
  }

  #blah-paragraph-cta-section {
    height: auto;
    padding: 3rem 0;

    #cta {
      padding: 0 2rem;
      width: 80%;
    }

    .cta-text {}
  }

  #members-section {
    padding: 4rem 2rem;

    #band-grid {
      .member-component {
        .image-and-overlaid-text {
          display: flex;
          justify-content: center;
        }

        .social-links {
          gap: 0.4rem;
        }
      }
    }

  }

  #final-cta-section {
    #cta {
      padding-left: 2rem;
      width: 50%;
    }

    .cta-text {}
  }
}

@media (max-width: 420px) {
  #hero-section.big-video {
    height: 50vh;
    min-height: 24rem;
  }

  .sick-text-2-group {
    font-size: 15vw;
  }

  .sick-text-3-group {
    font-size: 7vw;
    bottom: calc(10rem - 30vw);
  }

  #blah-paragraph-cta-section {
    height: auto;
  }

  #members-section {
    #band-grid {
      .member-component {
        .image-and-overlaid-text {
          .text {
            font-size: 1rem;
          }
        }
      }
    }

  }
}