.spam-filter {
  color: #303030;
}

h1 {
  font-size: 8rem;
}

p {
  font-family: "neue haas grotesk";
}

main {
  position: relative;
}

.main-section {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 10rem;
  align-items: center;
  padding-top: 2rem;
}

.contact-div {
  display: flex;
  align-items: baseline;
}

.return-section {
  text-align: center;
  height: 4rem;
  min-height: 10rem;
  padding-top: 3rem;
}

#contact-spacer {
  height: calc(100vh - 36rem);
}

footer {
  min-width: 18rem;
  padding: 2rem 1rem;
  margin-bottom: 3rem;
}

@media (max-width: 1080px) {
  h1 {
    font-size: 5rem;
  }
  main {
    padding: 0 1rem;
  }
  .contact-div {
    display: inline-block;
  }
}

@media (max-width: 512px) {
  h1 {
    font-size: 3rem;
  }
  main{
    font-size: 1rem;
  }
}